<!DOCTYPE html>
{% load static %}

<link rel="stylesheet" href="{% static 'characters/profile.css' %}">
<html>
<head>
    <title>Character Profile</title>
</head>
<body>
    <h1>{{ name }}</h1>
    <p> Level: {{ level }} Starting Class: {{ class_name }}</p>
    <a href="{% url 'character_list' %}">Back to Character List</a>
    <form method="post" name="characterForm">
        {% csrf_token %}
        <div class="form-container">
            <h2>Stats:</h2>
            {{ form.as_p }}
            <input type="submit" value="Save Changes">
        </div>
        <div class="bosses-container">
            <h2>Bosses:</h2>
            <div class="location-container">
                {% for location, bosses in boss_by_region.items %}
                    <div class=location>
                        <h3>{{ location }}</h3>
                        {% for boss in bosses %}
                            <label>
                                <input type="checkbox" name="completed_bosses" value="{{ boss.id }}"
                                {% if boss in character.completed_bosses.all %}checked{% endif %}>
                            {{ boss.name }}
                            </label>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </form>
</body>
</html>
