
body {
  font-family: 'Garamond Premier';
  margin: 20px;
  background-color: #242424;
  color: #ffffff;
}

h1 {
  margin-bottom: 20px;
  font-family: 'Garamond Premier';
  font-weight: normal;
  color: #e5d17a;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 15px;
  padding: 20px;
  border: 3px solid #e4daad;
  border-radius: 2px;
  background-color: #242424;
  font-size: 25px;
  color: #ffffff;
  line-height: 1.5;
}

li a {
  color: #007BFF;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

.container {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
}



