body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
}

h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 10px;
}

h3 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}

p {
  font-size: 16px;
  margin: 0;
}

a {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  color: #007BFF;
  font-size: 16px;
}

form {
  margin-top: 5px;
  display: flex;
  gap: 20px;
}

.form-container {
  flex: 0.3;
}

.form-container label {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px;
}

.bosses-container {
  flex: 1;
}

.bosses-container label {
  display: block;
  margin-bottom: 10px;
}

.bosses-container .location-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

input[type="submit"] {
  margin-top: 20px;
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}