/* Body Styles */
body {
  font-family: Arial, sans-serif;
  margin: 10px; /* Adjust the margin as needed */
}

/* Heading Styles */
h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Form Styles */
form {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

form label,
form input,
form button {
  display: block;
  margin-bottom: 10px;
}

form label {
  font-weight: bold;
}

form input[type="submit"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Completed Bosses Styles */
h2 {
  font-size: 20px;
  font-weight: bold;
}

.character-edit-container {
  display: flex;
}

.stats-container {
  flex: 1;
  margin-right: 20px;
}

.bosses-container {
  flex: 1;
}

.bosses-container > div {
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

label {
  display: inline-block;
  margin-bottom: 5px;
}

/* Back to Character List Link Styles */
a {
  display: block;
  margin-top: 20px;
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}